/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  word-wrap: normal;
  cursor: pointer;
  padding: 20px 10px;
  font-size: 15px;
  width: 14.2%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  /*color: white;*/
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
/*#Letters {background-color:red;}
#Words {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}*/
